In [55]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/codebasics/py/master/ML/18_PCA/Exercise/heart.csv')
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [56]:
df['Sex']=df.Sex.map({'M':1,'F':0})

In [57]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,0,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,1,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,0,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,1,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,1,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,1,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,0,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,1,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [58]:
dum=pd.get_dummies(df['ChestPainType'])
dum=dum.drop('TA',axis='columns')
dum

     ASY  ATA  NAP
0      0    1    0
1      0    0    1
2      0    1    0
3      1    0    0
4      0    0    1
..   ...  ...  ...
913    0    0    0
914    1    0    0
915    1    0    0
916    0    1    0
917    0    0    1

[918 rows x 3 columns]

In [59]:
df1=pd.concat([df,dum],axis='columns')
y=df1.HeartDisease
df1=df1.drop(['ChestPainType','HeartDisease'],axis='columns')
df1.ExerciseAngina=df1.ExerciseAngina.map({'N':0,'Y':1})
df1.ST_Slope=df1.ST_Slope.replace({'Up':3,'Flat':2,'Down':1})
df1.RestingECG.replace({'Normal':1,'ST':2,'LVH':3},inplace=True)
df1

,Age,Sex,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,ASY,ATA,NAP
0,40,1,140,289,0,1,172,0,0.0,3,0,1,0
1,49,0,160,180,0,1,156,0,1.0,2,0,0,1
2,37,1,130,283,0,2,98,0,0.0,3,0,1,0
3,48,0,138,214,0,1,108,1,1.5,2,1,0,0
4,54,1,150,195,0,1,122,0,0.0,3,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,110,264,0,1,132,0,1.2,2,0,0,0
914,68,1,144,193,1,1,141,0,3.4,2,1,0,0
915,57,1,130,131,0,1,115,1,1.2,2,1,0,0
916,57,0,130,236,0,3,174,0,0.0,2,0,1,0
917,38,1,138,175,0,1,173,0,0.0,3,0,0,1

In [60]:
from sklearn.preprocessing import MinMaxScaler
ms= MinMaxScaler()
df1_ms=ms.fit_transform(df1)

In [61]:
df1_ms

array([[0.24489796, 1.        , 0.7       , ..., 0.        , 1.        ,
        0.        ],
       [0.42857143, 0.        , 0.8       , ..., 0.        , 0.        ,
        1.        ],
       [0.18367347, 1.        , 0.65      , ..., 0.        , 1.        ,
        0.        ],
       ...,
       [0.59183673, 1.        , 0.65      , ..., 1.        , 0.        ,
        0.        ],
       [0.59183673, 0.        , 0.65      , ..., 0.        , 1.        ,
        0.        ],
       [0.20408163, 1.        , 0.69      , ..., 0.        , 0.        ,
        1.        ]])

In [67]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df1_ms,y,test_size=0.2,random_state=30)

In [68]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.8913043478260869

# using pca

In [80]:
from sklearn.decomposition import PCA
pca=PCA(1)
pca_x=pca.fit_transform(df1)

In [81]:
from sklearn.model_selection import train_test_split
x_ptrain,x_ptest,y_ptrain,y_ptest=train_test_split(pca_x,y,test_size=0.2,random_state=30)

In [82]:
from sklearn.ensemble import RandomForestClassifier
model1=RandomForestClassifier()
model1.fit(x_ptrain,y_ptrain)
model1.score(x_ptest,y_ptest)

0.6413043478260869